<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/background.css">
</head>

<body>
    <div id="user_logged">
        <h1 id="test">Welcome <%= name %>, <%= date %>
        </h1>
        <button id="btn1" onclick="buttonPress(0)">1</button>
        <button id="btn2" onclick="buttonPress(1)">2</button>
        <button id="btn3" onclick="buttonPress(2)">3</button>
        <br>
        <button id="btn4" onclick="buttonPress(3)">4</button>
        <button id="btn5" onclick="buttonPress(4)">5</button>
        <button id="btn6" onclick="buttonPress(5)">6</button>
        <br>
        <button id="btn7" onclick="buttonPress(6)">7</button>
        <button id="btn8" onclick="buttonPress(7)">8</button>
        <button id="btn9" onclick="buttonPress(8)">9</button>
    </div>
    <form action="/logout" method="post" enctype="application/json">
        <label for="logout">Logout</label>
        <button type="submit">Logout</button>
    </form>
    <script src="/logic.js"></script>
</body>



</html>